header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Dance.png) !important;
}

.fonttickets{
    font-family: Arial !important;
    font-size: 0.9em !important;
    font-weight: bold !important;
}

.box{
    box-model: border-box !important;
    border: 3px solid transparent !important;
    background-clip:padding-box !important;
}

body {
    padding-top: 65px;
    background-color: #CECECE !important;
    margin: 0;
    font-size: 1em;
}