nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    display: block;
    z-index: 1;
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FD6A02;
    font-size: 17px;
}

ul {
    margin-top: 0.5em;
    list-style-type: none;
}

.navItem {
    margin-left: 4em;
}

.logo {
    height: 40px;
    width: 40px;
}

.image {
    float: left;
    margin-left: 5em;
}

.imageRight {
    float: right;
    margin-right: 2%;
}

.share {
    display: inline-block;
    padding-top: 2em;
    padding-left: 49%;
}

.textShare {
    text-align: center;
}

.shareButtons {
    height: 30px;
    width: 30px;
}

footer {
    bottom: 0;
}

footer [class ^= 'footer-'] {
    margin-top: 20px;
    width: 33.3333%;
    display: inline-block;
    background-color: black;
    text-align: center;
}

.footerFull {
    bottom: 0;
    background: black;
    width: 100%;
    background: black;
}

footer .footer-left {
    float: left;
}

footer .footer-right {
    float: right;
}

.footerLinks {
    margin-top: 0.7em;
}

.logoFooter {
    width: 130px;
    height: 130px;
}

.footenav {
    font-size: 20px;
}

.fa-facebook, .fa-youtube {
    padding: 20px;
    height: 80px;
    width: 80px;
    text-align: center;
    text-decoration: none;
}

.labelSocialMedia {
    padding-top: 33px;
    color: white;
}

.fa-stack[data-count]:after {
    font-size: 14px !important;
    font-family: Arial;
    float: left;
    position: absolute;
    top: 3%;
    margin-left: -1%;
    content: attr(data-count);
    font-size: 40%;
    padding: 0.3em;
    border-radius: 999px;
    line-height: .75em;
    color: #FD6A02;
    text-align: center;
    min-width: 1em;
    font-weight: bold;
    background: #FD6A02;
    color: #FFFFFF;
    border-style: solid;
    border-color: #FD6A02;
}
