nav {
    background-color: #000;
    overflow: auto;
    width: 100%;
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FD6A02;
    font-size: 17px;
}

ul {
    margin-top: 0.5em;
    list-style-type: none;
}

.navItem {
    margin-left: 6em;
}

.logo {
    height: 40px;
    width: 40px;
}

.image {
    pointer-events: none;
    float: left;
    margin-left: 5em;
}

.imageRight {
    pointer-events: none;
    float: right;
    margin-right: 5em;
}

footer [class ^= 'footer-'] {
    margin-top: 20px;
    width: 33.3333%;
    display: inline-block;
    background-color: black;
    text-align: center;
}

footer .footer-left {
    float: left;
}

footer .footer-right {
    float: right;
    background-color: black;
}

.logoFooter {
    width: 150px;
    height: 150px;
}

.footenav {
    font-size: 20px;
}

.fa-facebook, .fa-youtube {
    padding: 20px;
    height: 80px;
    width: 80px;
    text-align: center;
    text-decoration: none;
}

.labelSocialMedia {
    padding-top: 33px;
    color: white;
}
