nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

nav a {
    padding: 12px 0px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #A0A0A0;
    display: block;
    border-bottom: 1px solid white;
    text-align: center;
}

nav a:hover {
    color: #f1f1f1;
}

nav .aSel {
    background-color: white;
    color: #111;
}

nav .aSel:hover {
    color: #111; /* The current page shouldn't be "clickable" */
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

#formTop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    z-index: 2;
    background-color: white;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    overflow: auto;
}

.halfWidth {
    width: 50%;
}

.displayInlineBlock {
    display: inline-block;
}

.marginTopBottom {
    margin: 15px 0px 15px 0px;
}

.floatRight {
    float: right;
}

.marginLeftOption {
    margin-left: 20px;
}

.marginRightOption {
    margin-right: 20px;
}

.leftStack {
    float: left;
    clear: left;
}

.clearLeft {
    clear: left;
}