nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

nav a {
    padding: 12px 0px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #A0A0A0;
    display: block;
    border-bottom: 1px solid white;
    text-align: center;
}

nav a:hover {
    color: #f1f1f1;
}

nav .aSel {
    background-color: white;
    color: #111;
}

nav .aSel:hover {
    color: #111; /* The current page shouldn't be "clickable" */
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

#formTop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    z-index: 2;
    background-color: white;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    overflow: auto;
}

.halfWidth {
    width: 50%;
}

.displayInlineBlock {
    display: inline-block;
    margin-bottom: 10px;
}

.marginTopBottom {
    margin: 15px 0px 15px 0px;
}

.floatRight {
    float: right;
}

.marginLeftOption {
    margin-left: 20px;
}

.marginRightOption {
    margin-right: 20px;
}

.leftStack {
    float: left;
    clear: left;
}

.clearLeft {
    clear: left;
}

.cmsTable {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}

.cmsTableRow {
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
    margin-bottom: 2px;
    line-height: 30px;
    text-align: center;
}

.cmsTableRow:nth-child(1) {
    border-bottom: 2px solid black;
}

.cmsTableHeader {
    text-align: center;
    margin-bottom: 0px;
}

.cmsSummary {
    text-align: center;
    margin-top: 0px;
}

.cmsDetails[open] summary::after {
    content: attr(data-open);
    opacity: 1;
    font-size: 14px;
}

.cmsDetails:not([open]) summary::before {
    content: attr(data-close);
    opacity: 1;
    font-size: 14px;
}

body {
    margin-top: 0;
}

.err {
    text-align: center;
    margin: 0;
    background-color: red;
    padding: 4px 0 4px;
    color: white;
}

.done {
    text-align: center;
    margin: 0;
    background-color: green;
    padding: 4px 0 4px;
    color: white;
}

nav a:first-child {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
}

.main > span {
    display:block;
}

.mt-5 {
    margin-top: 5rem;
}

.displayInlineBlock > select {
    margin-right: 20px;
}

.loginWidth {
    max-width: 360px;
    width: 360px;
}

.displayBlock {
    display: block;
}

.line {
    padding-bottom: 10px;
    border-bottom: 2px solid #212529;
}

.center {
    margin: auto;
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-1 {
    margin-top: .33rem;
}

.mt-2 {
    margin-top: .66rem;
}

.mAll-1 {
    margin: .33rem 0 .33rem 0;
}

.pAll-1 {
    padding: .33rem;
}

.pAll-1 {
    padding: .33rem;
}

.pAll-half {
    padding: .15rem;
}

.pSide-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.pAll-2 {
    padding: .66rem;
}

.pAll-1half {
    padding: .5rem;
}

.inputBox {
    width: 97%;
    border-radius: 5px;
    border-color: grey;
    padding: .33rem;
    margin: .33rem 0 .33rem 0;
}

.inputBox:focus {
    outline: none;
    border-color: deepskyblue;
    border-width: 4px;
}

.inputBoxDropdown {
    margin-left: 20px;
    width: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0.66rem;
}

body {
    font-family: "Segoe UI";
}

.blueButton {
    border-radius: 15px;
    background-color: #0D6DFB;
    color: white;
    border-width: 0;
    font-size: 14px;
}

.greenButton {
    border-radius: 15px;
    background-color: #198754;
    color: white;
    border-width: 0;
    font-size: 18px;
}

.greenButton:hover {
    background-color: #0F5434;
}

.greenButton:active {
    box-shadow: 0 0 0 4px #1BA062;
}

.blueButton:active {
    box-shadow: 0 0 0 4px #cbd6ee;
}

.squareEscButton {
    background-color: #000;
    color: red;
    border-width: 0;
    font-size: 32px;
}

.submitCMSTableButton {
    height: 41px;
    border-width: 0;
    font-size: 20px;
    background-color: inherit;
    color: white;
    line-height: 100%;
    vertical-align: top;
    margin: 0 0 0 -2px;
}

.CMSTableButton {
    height: 41px;
    font-size: 20px;
    background-color: mediumpurple;
    color: white;
    line-height: 100%;
    vertical-align: top;
    border-width: 3px;
    border-color: #663399;
    border-top-width: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0 5px 0 0;
}

.CMSTableButton:active {
    box-shadow: 0 0 0 4px rebeccapurple;
}

.CMSTableButton:hover {
    background-color: rebeccapurple;
}


.submitCMSTableButton:hover {
    background-color: green;
}

.submitCMSTopBar {
    background-color: #333;
}

.squareEscButton:hover {
    background-color: #FFF;
}

.blueButton:hover {
    background-color: #0B5ED7;
}

.greyButton {
    border-radius: 15px;
    background-color: grey;
    color: white;
    border-width: 0;
    font-size: 14px;
    text-decoration: none;
    line-height: 17px;
}

.me-20px {
    margin-right: 20px;
}

.greyButton:hover {
    background-color: dimgrey;
}

.floatLeft {
    float: left;
}

.almostHalfWidth {
    width: 45%;
}

.editElemHeader {
    width: 88%;
    margin-bottom: .33rem;
}

.widthInherit {
    width: inherit;
}

input[type="time"] {
    font-family: "Segoe UI";
}

input[type="date"] {
    font-family: "Segoe UI";
}

textarea {
    font-family: "Segoe UI";
    font-size: 13px;
}

.mw-20px {
    margin-left: 20px;
}

.clearRight {
    clear: right;
}

.width66 {
    width: 66%;
}

.width25 {
    width: 25%;
}

*[hidden=""] {
    display: none;
}